<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="V8js-Handlebars Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC" />
        <!-- Don't stress about '[object Array]' in zorbius tests -->
        <env name="ALLOW_ARRAY_OBJECT_TYPES" value="1" />
    </php>
</phpunit>
